<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <app-list-errors [errors]="errors()" />

        <form [formGroup]="articleForm">
          <fieldset [disabled]="isSubmitting()">
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                formControlName="title"
                name="title"
                type="text"
                placeholder="Article Title"
              />
            </fieldset>

            <fieldset class="form-group">
              <input
                class="form-control"
                formControlName="description"
                name="description"
                type="text"
                placeholder="What's this article about?"
              />
            </fieldset>

            <fieldset class="form-group">
              <textarea
                class="form-control"
                formControlName="body"
                name="body"
                rows="8"
                placeholder="Write your article (in markdown)"
              >
              </textarea>
            </fieldset>

            <fieldset class="form-group">
              <input
                class="form-control"
                type="text"
                placeholder="Enter tags"
                [formControl]="tagField"
                (keyup.enter)="addTag()"
              />
              <button
                type="button"
                [disabled]="isSuggestingTags() || !articleForm.value.title || !articleForm.value.body"
                (click)="suggestTags()"
              >
                {{ isSuggestingTags() ? 'Suggesting...' : 'Suggest Tags' }}
              </button>
              <div class="tag-list">
                @for (tag of tagList(); track tag) {
                  <span class="tag-default tag-pill">
                    <i class="ion-close-round" (click)="removeTag(tag)"></i>
                    {{ tag }}
                  </span>
                }
              </div>
              @if (suggestedTags().length > 0) {
                <div class="tag-list">
                  @for (tag of suggestedTags(); track tag) {
                    <button type="button" class="tag-default tag-pill" (click)="addTagFromSuggestion(tag)">
                      {{ tag }}
                    </button>
                  }
                </div>
              }
            </fieldset>

            <button class="btn btn-lg pull-xs-right btn-primary" type="button" (click)="submitForm()">
              Publish Article
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
